<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <h2>Meeting Time Calculator</h2>
Use this calculator to see how much money is spent in meetings.
</div>
    <div class="container">
  <form action="/result">
    <div class="form-group">
      <label for="duration">Meeting Duration</label>
      <input type="number" class="form-control" id="duration" placeholder="Enter meeting duration in minutes" name="duration">
    </div>
    <div class="form-group">
  	  <label for="freq">How many times per week do you meet?</label>
      <select id="freq">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
	    <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="attendeeCount">How many people attend your meeting?</label>
      <input type="number" class="form-control" id="attendeeCount" placeholder="Enter # of attendees" name="attendeeCount">
    </div>
 <p class="font-weight-bold">What is the typical salary range?</p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="salaryRadios" id="salaryRadios1" value="25000" checked>
      <label class="form-check-label" for="salaryRadios1">
        $25,000
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="salaryRadios" id="salaryRadios2" value="50000">
      <label class="form-check-label" for="salaryRadios2">
        $50,000
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="salaryRadios" id="salaryRadios3" value="75000">
      <label class="form-check-label" for="salaryRadios3">
        $75,000
      </label>
    </div>
   <p class="font-weight-bold">What is time scale you want to calculate the total cost for?</p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="timeScaleRadios" id="timeScaleRadios1" value="1" checked>
      <label class="form-check-label" for="salaryRadios1">
        One Meeting
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="timeScaleRadios" id="timeScaleRadios2" value="2">
      <label class="form-check-label" for="salaryRadios2">
        One Week
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="timeScaleRadios" id="timeScaleRadios3" value="3">
      <label class="form-check-label" for="salaryRadios3">
        One Month
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="timeScaleRadios" id="timeScaleRadios4" value="4">
      <label class="form-check-label" for="salaryRadios4">
        One Year
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Calculate Meeting Costs</button>
  </form>
  </div>
<br>
<br>
</body>
</html>
